.container-fluid{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(h_img.jpg);
    background-repeat: no-repeat;
    height: 135vh;
    background-size: cover;
    background-position: top center;
    position: relative;
    /* z-index: 1; */
    
}
.container-fluid #images{
    margin-left: 48%;
    margin-top: 330px;
}
.container-fluid h1{
    text-align: center;
    margin-top: 190px;
    color:white;
}
.container-fluid h6{
    color: white;
    text-align: center;
}
.container-fluid #image{
    margin-left: 850px;
    margin-top:420px;
}
.AboutUS{
    height:auto;
}
.AboutUS h1{
   text-align: center;
   font-weight: bold;
   margin-top: 50px;
}
.AboutUS p{
    text-align: center;
}
.Services{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(s_image.jpg);
    background-repeat: no-repeat;
    height: 350px;;
    background-size:cover;
    background-position:top center;
    position:relative;
    margin-top: 50px;

}
.Services h1 {
    text-align: center;
    color: white;
    padding-top: 118px;
}
.Services p{
    text-align: center;
    color: white;
}
.Whatwedo {
    text-align: center;
    height: auto;
}
.Whatwedo p{
    display: none;
}
.container{
    height: auto;
    text-align: center;
    margin-top: 100px;
    /* width: 1500px; */
    /* padding-left: 200px; */
}
#work{
width:100%;
}
.col-md-3{
    position: relative;

}
#name{
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    display: none;
}
#name1{
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    display: none;
}
#name2{
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    display: none;
}
#name3{
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    display: none;
}
#name4{
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    display: none;
}
#name5{
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    display: none;
}
#name6{
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    display: none;
}
#name7{
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    display: none;
}
.ContactUs{ 
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(c_image.jpg);
    background-repeat: no-repeat;
    height:350px;
    background-size: cover;
    background-position: top center;
    position: relative;
    margin-top: 50px;
}
.ContactUs h1{
    text-align: center;
    color: white;
    padding-top: 20px;
}
.col-md-4{
    width:30%;
    margin-right: auto;
    height: 40px;
}
input[type="text"],[type="email"]{
    margin-left: 160px;
    background-color: transparent;
    color:white
}
textarea{
    margin-left: 160px;
    background-color: transparent;
    color: white;
    margin-right: 1000px;

}
.footer{
    height: auto;
    margin-top: 50px;
    margin-left: 250px;
}
.footer .row{
    margin-left: 420px;
}
   img {
   padding-left: 10px;
   
}
.footer h6{
    text-align: center;
    margin-left: -200px;
}
.designLogo{
    text-align: center;
    font-weight: bold;

}
.designP{
    text-align: center;

}
.devlogo{
    font-weight: bold;
    text-align: center;
}
.devs{
    text-align: center;
}
.product{
    font-weight: bold;
    text-align: center;
}
.development{
    text-align: center;
}
